<!DOCTYPE html>
<html>
    <header>
<style type="text/css">
body {
  text-align: center;
}

.cf {
  position:relative;
  height:450px;
  margin: 10px;
  padding: 10px;
}

.cf img {
  position:absolute;
  height:400px;
  transform: translate(-50%);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.cf img.top:hover {
  opacity:0;
}

.cf img.bottom {
  border: 2px solid red;
}

.cf img.top {
  border: 2px solid white;
}

.wrapper {
  position: relative;
}

.wrapper p {
  position: absolute;
  bottom: 0px;
  width: 50%;
  left: 25%;
  text-align: center
}
</style>
    </header>
    <body>
        {% for test in tests %}
        <h1> {{ test.title }} </h1>

        <p>{{ test.description }}</p>

        <div class="wrapper">
        {% for plot in test.plots %}
        <div class="cf">
            <img class="bottom" src="data:image/png;base64,{{ plot.ref_base64 }}" />
            <img class="top" src="data:image/png;base64,{{ plot.base64 }}" />
            <p> {{ plot.caption }} </p>
        </div>
        {% endfor %}
        </div>
        <hr>
        <hr>

        {% endfor %}

    </body>
</html>
